spring:
  config:
    import:
      - db-main.yml
      - ai-main.yml
      - webhook-main.yml
  batch:
    job:
      enabled: false
    jdbc:
      initialize-schema: never
  mail:
    host: ${SMTP_HOST}
    port: ${SMTP_PORT}
    username: ${SMTP_USERNAME}
    password: ${SMTP_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true